#-------------------------
# Fichiers d'environnement
#-------------------------
*/.env
.env

#-------------------------
# Fichiers temporaires
#-------------------------
writable/cache/*
!writable/cache/index.html

writable/logs/*
!writable/logs/index.html

writable/session/*
!writable/session/index.html

writable/uploads/*
!writable/uploads/index.html

writable/debugbar/*
!writable/debugbar/index.html

writable/**/*.db
writable/**/*.sqlite

php_errors.log

#-------------------------
# User Guide Temp Files
#-------------------------

user_guide_src/build/*
user_guide_src/cilexer/build/*
user_guide_src/cilexer/dist/*
user_guide_src/cilexer/pycilexer.egg-info/*

#-------------------------
# Composer
#-------------------------
vendor/
composer.lock

#-------------------------
# Fichiers test
#-------------------------
tests/coverage*

#-------------------------
# Fichiers résiduels d'OS
#-------------------------

# OS X
.DS_Store
.AppleDouble
.LSOverride

# OS X Thumbnails
._*

# Windows image file caches
Thumbs.db
ehthumbs.db
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# Linux
*~

# KDE directory preferences
.directory

# Linux trash folder which might appear on any partition or disk
.Trash-*
script/cron_runner.log
script/cron_runner.log
#codeigniter 3
application/logs/*
!application/logs/index.html
!application/logs/.htaccess
/vendor/
.nfs000000000c1f459a00000011
script/.nfs000000000c2232e900000010
script/cron_runner.log
.nfs000000000c1f029000000009
